<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user', username=post.author.username) }}">
                <img src="{{ post.author.avatar(70) }}" />
            </a>
        </td>
        <td>
            {% set user_link %} <!-- creating a var called user_link, set right in html. cool -->
                <a href="{{ url_for('user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
            {% endset %}
            {{ _('%(username)s said %(when)s',
                username=user_link, when=moment(post.timestamp).fromNow()) }} <!-- pass user_link as an agrument to the translation function-->
            <br>
            <span id="post{{ post.id }}">{{ post.body }}</span>
            
            {% if post.language and post.language != g.locale %}
            <br><br>
            <!-- The href element of a link can accept any JavaScript code if it is prefixed with javascript: -->
            <span id="translation{{ post.id }}">
                <!-- if the language isn't 'en', show translate link and when clicked, run js translate function (base.html) -->
                <a href="javascript:translate(
                            '#post{{ post.id }}',
                            '#translation{{ post.id }}',
                            '{{ post.language }}',
                            '{{ g.locale }}');">{{ _('Translate') }}</a>
            </span>            
            {% endif %}
        </td>
    </tr>
</table>